#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}
form {
  display: block;
  margin-top: 0em;
}
body {
  background-color: rgb(57, 182, 19);
}
input {
  background-color: black;
  color: white;
}